<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <% include ../partials/header %>
            <main>
                <h2><%= operationTitle %></h2>
                <hr/>
                <p>
                    <%= result %>
                </p>
    </div>
</body>

</html>